html,
body {
  height: 100%;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.content {
  min-height: 100%;
  margin: 0 auto -50px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  background: none;
  margin-top: 10%;
  margin-right: 0px;
}
.error {
  color: red;
  display: flex;
  justify-content: flex-start;
}
.card {
  margin: 165px;
  margin-top: 75px;
  border-radius: 10px;
  width: 80%;
}

.cardLogin {
  margin-top: 10%;
  width: 28%;
  margin-left: 37%;
}

.display {
  display: flex;
  margin-top: 3.5%;
}

.inputbox {
  border-radius: 10px;
}
*/ .App {
  display: flex;
  justify-content: center;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

input + label {
  font-weight: bold;
  display: inline-flex;
  margin-right: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="select"],
textarea,
select {
  display: block;
  width: 350px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
}

.button {
  margin: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}
.menu-bars2 {
  font-size: 20px;
  background: none;
  display: flex;
  color: azure;
  justify-content: flex-end;
  margin: 1rem;
}
.menu-bars2:hover {
  color: white;
}
.button {
  margin: 1rem;
}
.btndiv {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.navbar {
  background-color: #4ea6ba;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.cardbody {
  padding: 0px !important;
}
.forgot {
  display: flex;
  justify-content: center;
  color: darkblue;
}
.btndivforgot {
  justify-content: center;
  display: flex;
}
.blogbutton {
  margin: 10px;
  margin-right: 2%;
  display: flex;
  justify-content: flex-end;
}
.blogbutton2 {
  margin-right: 2%;
}
.allblog {
  margin: 10px;
  display: flex;
}
.blogcard {
  margin: 8px !important;
}
.deleteButton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.blogimage {
  margin: 10px !important;
}
.likeDislikeButton {
  width: 23%;
  background-color: white;
  margin: 4px;
  border-radius: 15px;
}
.social {
  display: inline-flex;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}
.sidebar {
  width: 186px !important;
}
.inputComment {
  width: 100% !important;
}
.formUpdate {
  display: flex;
  justify-content: center;
}
.singleBlog1 {
  display: flex;
  justify-content: center;
}
.singleBlog2 {
  width: 600px !important;
}
.commentLable {
  justify-content: center;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15%;
  margin-left: 47%;
}
.loginpopup {
  margin: 10%;
}
.modal {
  border-radius: 20px;
}
.footer {
  display: flex;
  justify-content: center;
}
.stickyFooter {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 5px;
}
.blogContent{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
