.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  background: none;
}
.error {
  color: rgb(47, 0, 255);
  display: flex;
  justify-content: center;
  margin-left: 24px;
}
.card{
  margin: 150px;
}
.cardbody{
  background-image: url("./PublicFolder/Image/registerImage.jpg");
}
.inputbox{
  border-radius: 10px;
}